
    @font-face {
        font-family: 'IRANSans';
        src:  url('../fonts/IRANSans.woff2') format('woff2'),
        url('../fonts/IRANSans.woff') format('woff'),
        url('../fonts/IRANSans.ttf') format('ttf')
    }
*{
  text-align: right;
  direction: rtl;
  font-family: "IRANSans" !important
}